<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="PathToolsカテゴリの説明"
            id="jp.littleforest.pathtools.categories.PathTools"
            name="PathTools">
      </category>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="フォルダを開きます。"
            id="jp.littleforest.pathtools.commands.OpenFolder"
            name="OpenFolder">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="コマンドプロンプトを開きます。"
            id="jp.littleforest.pathtools.commands.OpenPrompt"
            name="OpenPrompt">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="ワークスペース相対パスをコピーします。"
            id="jp.littleforest.pathtools.commands.CopyWorkspaceRelativePath"
            name="CopyWorkspaceRelativePath">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="プロジェクト相対パスをコピーします。"
            id="jp.littleforest.pathtools.commands.CopyProjectRelativePath"
            name="CopyProjectRelativePath">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="パスをコピーします。"
            id="jp.littleforest.pathtools.commands.CopyPath"
            name="CopyPath">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="名前をコピーします。"
            id="jp.littleforest.pathtools.commands.CopyName"
            name="CopyName">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="修飾名をコピーします。"
            id="jp.littleforest.pathtools.commands.CopyQualifiedName"
            name="CopyQualifiedName">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="ワークスペースを開きます。"
            id="jp.littleforest.pathtools.commands.OpenWorkspace"
            name="OpenWorkspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.littleforest.pathtools.handlers.OpenFolderHandler"
            commandId="jp.littleforest.pathtools.commands.OpenFolder">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.OpenWorkspaceHandler"
            commandId="jp.littleforest.pathtools.commands.OpenWorkspace">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.OpenPromptHandler"
            commandId="jp.littleforest.pathtools.commands.OpenPrompt">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.CopyWorkspaceRelativePathHandler"
            commandId="jp.littleforest.pathtools.commands.CopyWorkspaceRelativePath">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.CopyProjectRelativePathHandler"
            commandId="jp.littleforest.pathtools.commands.CopyProjectRelativePath">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.CopyPathHandler"
            commandId="jp.littleforest.pathtools.commands.CopyPath">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.CopyNameHandler"
            commandId="jp.littleforest.pathtools.commands.CopyName">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.CopyQualifiedNameHandler"
            commandId="jp.littleforest.pathtools.commands.CopyQualifiedName">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <separator
               name="jp.littleforest.pathtools.separator1"
               visible="true">
         </separator>
         <command
               commandId="jp.littleforest.pathtools.commands.OpenFolder"
               icon="icon/folder_explore.png"
               label="フォルダを開く"
               style="push">
            <visibleWhen
                  checkEnabled="true">
                  </visibleWhen>
         </command>
         <command
               commandId="jp.littleforest.pathtools.commands.OpenPrompt"
               icon="icon/application_xp_terminal.png"
               label="コマンドプロンプトを開く"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <menu
               icon="icon/page_white_copy.png"
               label="PathTools">
            <command
                  commandId="jp.littleforest.pathtools.commands.CopyWorkspaceRelativePath"
                  label="ワークスペース相対パスをコピー"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="jp.littleforest.pathtools.commands.CopyProjectRelativePath"
                  label="プロジェクト相対パスをコピー"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="jp.littleforest.pathtools.commands.CopyQualifiedName"
                  label="修飾名をコピー"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="jp.littleforest.pathtools.commands.CopyName"
                  label="名前をコピー"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="jp.littleforest.pathtools.commands.CopyPath"
                  label="絶対パスをコピー"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=new">
         <command
               commandId="jp.littleforest.pathtools.commands.OpenWorkspace"
               icon="icon/folder_database.png"
               label="ワークスペースを開く"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jp.littleforest.pathtools.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="jp.littleforest.pathtools.commands.OpenFolder"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="jp.littleforest.pathtools.commands.OpenFolder"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+P">
      </key>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jp.littleforest.pathtools.preferences.PathToolsPreferencePage"
            id="jp.littleforest.pathtools.preferences.PathToolsPreferencePage"
            name="PathTools">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="jp.littleforest.pathtools.PathToolsPlugin">
      </startup>
   </extension>
</plugin>
