<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="PathToolsカテゴリの説明"
            id="jp.littleforest.pathtools.categories.PathTools"
            name="PathTools">
      </category>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="フォルダを開きます。"
            id="jp.littleforest.pathtools.commands.OpenFolder"
            name="OpenFolder">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="コマンドプロンプトを開きます。"
            id="jp.littleforest.pathtools.commands.OpenPrompt"
            name="OpenPrompt">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="ワークスペース相対パスをコピーします。"
            id="jp.littleforest.pathtools.commands.CopyWorkspaceRelativePath"
            name="CopyWorkspaceRelativePath">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="プロジェクト相対パスをコピーします。"
            id="jp.littleforest.pathtools.commands.CopyProjectRelativePath"
            name="CopyProjectRelativePath">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="パスをコピーします。"
            id="jp.littleforest.pathtools.commands.CopyPath"
            name="CopyPath">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="名前をコピーします。"
            id="jp.littleforest.pathtools.commands.CopyName"
            name="CopyName">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="修飾名をコピーします。"
            id="jp.littleforest.pathtools.commands.CopyQualifiedName"
            name="CopyQualifiedName">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="ワークスペースを開きます。"
            id="jp.littleforest.pathtools.commands.OpenWorkspace"
            name="OpenWorkspace">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="フォントサイズを大きくします。"
            id="jp.littleforest.pathtools.commands.IncreaseFont"
            name="IncreaseFont">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="フォントサイズを小さくします。"
            id="jp.littleforest.pathtools.commands.DecreaseFont"
            name="DecreaseFont">
      </command>
      <command
            categoryId="jp.littleforest.pathtools.categories.PathTools"
            description="フォントサイズを元に戻します。"
            id="jp.littleforest.pathtools.commands.ResetFont"
            name="ResetFont">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.littleforest.pathtools.handlers.path.OpenFolderHandler"
            commandId="jp.littleforest.pathtools.commands.OpenFolder">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.path.OpenWorkspaceHandler"
            commandId="jp.littleforest.pathtools.commands.OpenWorkspace">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.path.OpenPromptHandler"
            commandId="jp.littleforest.pathtools.commands.OpenPrompt">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.path.CopyWorkspaceRelativePathHandler"
            commandId="jp.littleforest.pathtools.commands.CopyWorkspaceRelativePath">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.path.CopyProjectRelativePathHandler"
            commandId="jp.littleforest.pathtools.commands.CopyProjectRelativePath">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.path.CopyAbsolutePathHandler"
            commandId="jp.littleforest.pathtools.commands.CopyPath">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.path.CopyNameHandler"
            commandId="jp.littleforest.pathtools.commands.CopyName">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.path.CopyQualifiedNameHandler"
            commandId="jp.littleforest.pathtools.commands.CopyQualifiedName">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.font.IncreaseFontHandler"
            commandId="jp.littleforest.pathtools.commands.IncreaseFont">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.font.DecreaseFontHandler"
            commandId="jp.littleforest.pathtools.commands.DecreaseFont">
      </handler>
      <handler
            class="jp.littleforest.pathtools.handlers.font.ResetFontHandler"
            commandId="jp.littleforest.pathtools.commands.ResetFont">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <separator
               name="jp.littleforest.pathtools.separator1"
               visible="true">
         </separator>
         <command
               commandId="jp.littleforest.pathtools.commands.OpenFolder"
               icon="icon/folder_explore.png"
               label="%menu.openFolder"
               style="push">
            <visibleWhen
                  checkEnabled="true">
                  </visibleWhen>
         </command>
         <command
               commandId="jp.littleforest.pathtools.commands.OpenPrompt"
               icon="icon/application_xp_terminal.png"
               label="%menu.openPrompt"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <menu
               icon="icon/page_white_copy.png"
               label="PathTools">
            <command
                  commandId="jp.littleforest.pathtools.commands.CopyWorkspaceRelativePath"
                  label="%menu.copyWorkspaceRelativePath"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="jp.littleforest.pathtools.commands.CopyProjectRelativePath"
                  label="%menu.copyProjectRelativePath"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="jp.littleforest.pathtools.commands.CopyQualifiedName"
                  label="%menu.copyQualifiedName"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="jp.littleforest.pathtools.commands.CopyName"
                  label="%menu.copyName"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="jp.littleforest.pathtools.commands.CopyPath"
                  label="%menu.copyAbsolutePath"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=new">
         <command
               commandId="jp.littleforest.pathtools.commands.OpenWorkspace"
               icon="icon/folder_database.png"
               label="%menu.openWorkspace"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar id="jp.littleforest.pathtools.toolbar">
            <command
                commandId="jp.littleforest.pathtools.commands.IncreaseFont"
                icon="icon/large.png"
                id="large"
                label="%menu.largerFont"
                style="push"
                tooltip="%menu.largerFont">
            </command>
            <command
                commandId="jp.littleforest.pathtools.commands.DecreaseFont"
                icon="icon/small.png"
                id="small"
                label="%menu.smallerFont"
                style="push"
                tooltip="%menu.smallerFont">
            </command>
            <command
                commandId="jp.littleforest.pathtools.commands.ResetFont"
                icon="icon/reset.png"
                id="reset"
                label="%menu.resetFont"
                style="push"
                tooltip="%menu.resetFont">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jp.littleforest.pathtools.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="jp.littleforest.pathtools.commands.OpenFolder"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="jp.littleforest.pathtools.commands.OpenFolder"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+P">
      </key>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jp.littleforest.pathtools.preferences.PathToolsPreferencePage"
            id="jp.littleforest.pathtools.preferences.PathToolsPreferencePage"
            name="PathTools">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="jp.littleforest.pathtools.PathToolsPlugin">
      </startup>
   </extension>
</plugin>
